---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Digital Garden";
const allPosts = Object.values(await import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here is my digital garden.</p>
  {allPosts.length === 0 ? (
    <p>No posts available yet.</p>
  ) : (
    allPosts.map((post: any) => 
    <BlogPost url={post.url} 
    title={post.frontmatter.title} 
    author={post.frontmatter.author} 
    pubDate={post.frontmatter.pubDate}
    description={post.frontmatter.description} />)
  )}
</BaseLayout>
