---
const { title, url, author, date, description, tags } = Astro.props
---
<div class="blog-card">
  <a href={url}>
    <div class="blog-card__content">
      <h2 class="blog-card__title">{title}</h2>
      {author && (
        <div class="blog-card__author">
          <span>By {author}</span>
        </div>
      )}
      {description && <p class="blog-card__excerpt">{description}</p>}
      <div class="blog-card__meta">
        {date && <span class="blog-card__date">{date}</span>}
      </div>
      {tags && tags.length > 0 && (
        <div class="blog-card__tags">
          {tags.map(tag => (
            <span class="blog-card__tag">#{tag}</span>
          ))}
        </div>
      )}
    </div>
  </a>
</div>
