---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric"
};
const formattedPubDate = new Date(frontmatter.pubDate).toLocaleDateString("en-GB", dateOptions);
import TableOfContents from 'astro-table-of-contents/component';
---

<BaseLayout pageTitle={frontmatter.title}>
  <TableOfContents class="toc" />
    <div>
      <em>{frontmatter.description}</em>
      <br>
      <br>
      Written by: {frontmatter.author}
      <br>
      Created on: {formattedPubDate}
      <br>
      Status: {frontmatter.status}
    </div>
    <br>

  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <div class="tag">
          <a href={`/portfolio/tags/${tag}`}>{tag}</a>
        </div>
      ))
    }
  </div>
  <br>

  <slot />
</BaseLayout>
