---
import BaseLayout from "./BaseLayout.astro";
import Menu from '@lucide/astro/icons/menu';
import X from '@lucide/astro/icons/x';
import TableOfContents from '../components/TableOfContents.astro';

const { frontmatter, headings } = Astro.props;

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric"
};
const formattedPubDate = new Date(frontmatter.pubDate).toLocaleDateString("en-GB", dateOptions);
---

<BaseLayout pageTitle={frontmatter.title}>
  <TableOfContents headings={headings} />

  <div>
    <em>{frontmatter.description}</em>
    <br><br>
    <span>Written by:</span> {frontmatter.author}
    <br>
    <span>Created on:</span> {formattedPubDate}
    <br>
    <span>Status:</span> {frontmatter.status}
  </div>

  <div class="tags">
    {frontmatter.tags.map((tag: string) => (
      <div class="tag">
        <a href={`/portfolio/tags/${tag}`}>{tag}</a>
      </div>
    ))}
  </div>

  <div class="markdown-content">
    <slot />
  </div>
</BaseLayout>
