---
import BaseLayout from "./BaseLayout.astro";
import Menu from '@lucide/astro/icons/menu';
import X from '@lucide/astro/icons/x';
const { frontmatter } = Astro.props;
const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric"
};
const formattedPubDate = new Date(frontmatter.pubDate).toLocaleDateString("en-GB", dateOptions);
import TableOfContents from 'astro-table-of-contents/component';
---

<BaseLayout pageTitle={frontmatter.title}>
  <button id="toc-toggle" class="toc-mobile-button" aria-label="Toggle Table of Contents">
    <Menu class="menu-icon" />
    <X class="close-icon" />
  </button>

  <div id="toc-overlay" class="toc-overlay"></div>

  <div id="toc-wrapper">
    <TableOfContents class="toc" />
  </div>

  <div>
    <em>{frontmatter.description}</em>
    <br>
    <br>
    <span>Written by:</span> {frontmatter.author}
    <br>
    <span>Created on:</span> {formattedPubDate}
    <br>
    <span>Status:</span> {frontmatter.status}
  </div>
  <br>

  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <div class="tag">
          <a href={`/portfolio/tags/${tag}`}>{tag}</a>
        </div>
      ))
    }
  </div>
  <br>

  <slot />

  <script is:inline>
    const links = document.getElementsByTagName("a");
    console.log(links);
    console.log(links[5].hash);
    links[5].hash = "";
  </script>

  <script>
  const btn = document.getElementById('toc-toggle');
  const wrapper = document.getElementById('toc-wrapper');
  const overlay = document.getElementById('toc-overlay');
  const links = document.querySelectorAll('#toc-wrapper a');

  const toggleTOC = () => {
    wrapper?.classList.toggle('is-active');
    overlay?.classList.toggle('is-active');
    btn?.classList.toggle('is-active');
    document.body.classList.toggle('no-scroll');
  };

btn?.addEventListener('click', toggleTOC);
overlay?.addEventListener('click', toggleTOC);

// Close when a link is clicked
links.forEach(link => link.addEventListener('click', toggleTOC));
</script>
</BaseLayout>
