---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric"
};
const formattedPubDate = new Date(frontmatter.pubDate).toLocaleDateString("en-GB", dateOptions);
import TableOfContents from 'astro-table-of-contents/component';
---

<BaseLayout pageTitle={frontmatter.title}>
  <TableOfContents class="toc" />
    <div>
      <em>{frontmatter.description}</em>
      <br>
      <br>
      <span>Written by:</span> {frontmatter.author}
      <br>
      <span>Created on:</span> {formattedPubDate}
      <br>
      <span>Status:</span> {frontmatter.status}
    </div>
    <br>

  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <div class="tag">
          <a href={`/portfolio/tags/${tag}`}>{tag}</a>
        </div>
      ))
    }
  </div>
  <br>

  <slot />
  <div>
    <script is:inline>
      const links = document.getElementsByTagName("a");
      console.log(links);
      console.log(links[5].hash);
      links[5].hash = "";
    </script>
  </div>
</BaseLayout>
